@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400italic,600italic,400,600);

$font-sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-sans-serif: "Droid Serif", Georgia, serif;

$background: #000000;
$color: #fff;